<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Lecturer</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Edit Lecturer</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lecturer Information</h6>
            </div>
            <div class="card-body">
                <form th:action="@{'/lecturers/update'}" th:object="${lecturer}" method="post">
                    <input type="hidden" id="id" th:field="*{id}" />

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lecturerFirstName">First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lecturerFirstName"
                                       th:field="*{lecturerFirstName}" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lecturerLastName">Last Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="lecturerLastName"
                                       th:field="*{lecturerLastName}" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lecturerPhoneNumber">Phone Number</label>
                                <input type="text" class="form-control" id="lecturerPhoneNumber"
                                       th:field="*{lecturerPhoneNumber}" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title">Title <span class="text-danger">*</span></label>
                                <select class="form-control" id="title" th:field="*{title.id}" required>
                                    <option value="" disabled>Select Title</option>
                                    <option th:each="title : ${lecturertitles}"
                                            th:value="${title.id}"
                                            th:text="${title.titleDefinition}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="department">Department <span class="text-danger">*</span></label>
                                <select class="form-control" id="department" th:field="*{department.id}" required>
                                    <option value="" disabled>Select Department</option>
                                    <option th:each="dept : ${departments}"
                                            th:value="${dept.id}"
                                            th:text="${dept.departmentName}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="user">User <span class="text-danger">*</span></label>
                                <select class="form-control" id="user" th:field="*{user.id}" required>
                                    <option value="" disabled>Select User</option>
                                    <option th:each="usr : ${users}"
                                            th:value="${usr.id}"
                                            th:text="${usr.userEmail}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Update Lecturer
                        </button>
                        <a th:href="@{/lecturers/list}" class="btn btn-warning">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a th:href="@{/lecturers/list}" class="btn btn-link">
                    <i class="fas fa-arrow-left"></i> Back to Lecturer List
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
