<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Delete Exam Type</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-4 text-gray-800">Delete Exam Type</h1>

    <div class="alert alert-warning">
        Are you sure you want to delete the exam type:
        <strong th:text="${examtype.examTypeTitle}">Exam Type Title</strong>?

    </div>

    <form th:action="@{/exam-types/delete/{id}(id=${examtype.id})}" method="post">
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a th:href="@{/exam-types/list}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
