<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Course Lecturers - Index</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Course Lecturers</h1>
        <a class="btn btn-success mb-3" th:href="@{/courselecturers/create}">Create New Course Lecturer</a>

        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="courseLecturersTable" class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Course Lecturer Id</th>
                            <th>Lecturer Name</th>
                            <th>Term</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="courselecturer : ${courselecturers}">
                            <td th:text="${courselecturer.id}"></td>
                            <td th:text="${courselecturer.lecturer.lecturerFirstName + ' ' + courselecturer.lecturer.lecturerLastName}"></td>
                            <td th:text="${courselecturer.term.termName}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#courseLecturersTable').DataTable();
        });
    </script>
</section>
</body>
</html>
