<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Create Question Type</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Create New Question Type</h1>
        <div class="card shadow mb-4">
            <div class="card-body">
                <form th:action="@{/questiontypes/create}" th:object="${questiontype}" method="post">
                    <div class="form-group">
                        <label for="questionTypeDefinition">Question Type Definition</label>
                        <input type="text" class="form-control" id="questionTypeDefinition"
                               th:field="*{questionTypeDefinition}" placeholder="Enter definition" required />
                    </div>

                    <button type="submit" class="btn btn-success">Save</button>
                    <a th:href="@{/questiontypes/list}" class="btn btn-warning">Cancel</a>

                </form>
            </div>
            <!-- Footer Link -->
            <div class="card-footer">
                <a th:href="@{/questiontypes/list}" class="btn btn-link">Back to List</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
