<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout (~{::body})">
<body>
<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800">Create Course</h1>
  <form th:action="@{/courses/create}" method="post" th:object="${course}">
    <div class="form-group">
      <label for="name">Course Name</label>
      <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Enter course name"/>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a th:href="@{/courses/list}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>
