<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Academic Terms</title>
</head>
<body>
<h1>Academic Terms</h1>
<a th:href="@{/academicterms/create}">+ Add New Academic Term</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="term : ${academicterms}">
        <td th:text="${term.id}"></td>
        <td th:text="${term.name}"></td>
        <td>
            <a th:href="@{'/academicterms/edit/' + ${term.id}}">Edit</a> |
            <a th:href="@{'/academicterms/delete/' + ${term.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
