<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Delete Academic Term</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Delete Academic Term</h1>

    <form th:action="@{/academicterms/delete/{id}(id=${academicterm.id})}" method="post">
      <div class="card shadow mb-4">
        <div class="card-body">
          <p>Are you sure you want to delete the following academic term?</p>
          <ul>
            <li><strong>ID:</strong> <span th:text="${academicterm.id}"></span></li>
            <li><strong>Term Title:</strong> <span th:text="${academicterm.termTitle}"></span></li>
          </ul>

          <button type="submit" class="btn btn-danger">Delete</button>
          <a th:href="@{/academicterms/list}" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</section>
</body>
</html>
