<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Academic Terms</title>
</head>
<body>
<section layout:fragment="content">
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Academic Terms</h1>
    <a th:href="@{/academicterms/create}" class="btn btn-primary mb-3">+ Add New Term</a>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Term Title</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="term : ${academicterms}">
                        <td th:text="${term.id}"></td>
                        <td th:text="${term.termTitle}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{'/academicterms/edit/' + ${term.id}}">Edit</a>
                            <a class="btn btn-danger btn-sm" th:href="@{'/academicterms/delete/' + ${term.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <script>
        $(document).ready(function () {
            $('#coursesTable').DataTable();
        });
    </script>
</section>
</body>
</html>
