

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Delete Exam</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="h3 mb-4 text-gray-800">Delete Exam</h1>
    <div class="alert alert-warning">
        Are you sure you want to delete the exam : <strong th:text="${coursesexam.courseExamTitle}">Course Title</strong>?
    </div>
    <form th:action="@{/courses-exams/delete/{id}(id=${coursesexam.id})}" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a th:href="@{/courses-exams/list}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
