<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Question Option</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Edit Question Option</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Question Option Information</h6>
            </div>
            <div class="card-body">
                <form th:action="@{'/question-option/edit/' + ${questionOptions.id}}" th:object="${questionOptions}" method="post">
                    <input type="hidden" th:field="*{id}" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="optionText">Option Text <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="optionText"
                                       th:field="*{questionOptionDefinition}" placeholder="Enter option text" required />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="correct">Is Correct? <span class="text-danger">*</span></label>
                                <select class="form-control" id="correct" th:field="*{isCorrectAnswer}" required>
                                    <option value="" disabled>Select</option>
                                    <option th:value="true" th:selected="${questionOptions.isCorrectAnswer}">Yes</option>
                                    <option th:value="false" th:selected="${!questionOptions.isCorrectAnswer}">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="examquestion">Related Exam Question <span class="text-danger">*</span></label>
                                <select class="form-control" id="examquestion" th:field="*{examQuestion}" required>
                                    <option value="" disabled>Select Exam Question</option>
                                    <option th:each="q : ${questionType}"
                                            th:value="${q.id}"
                                            th:text="${q.examQuestionDefinition}"
                                            th:selected="${q.id == questionOptions.examQuestion.id}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Update Option
                        </button>
                        <a th:href="@{/question-option/list}" class="btn btn-warning">
                            <i class="fas fa-times"></i> Cancel
                        </a>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <a th:href="@{/question-option/list}" class="btn btn-link">
                    <i class="fas fa-arrow-left"></i> Back to Question Options List
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
